$boi: #de3c4b;

.pics2 {
  max-height: 35rem;
  max-width: 20rem;
  margin: 1rem;
}

.bigboi {
  display: flex;
  width: 170rem;
  height: 60rem;
  margin: 5rem;
}
.taskdeal {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 40rem;
  border: double 0.5rem $boi;
  position: relative;
}
.catT {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.headi {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  width: 70rem;
}
.lander {
  display: flex;
  max-width: 100rem;
  justify-content: space-evenly;
}
.description {
  width: auto;
  max-height: 50rem;
  margin: 5rem;
}
.title {
  font-size: 5rem;
}

.text {
  font-size: 3rem;
}
