$boi: #de3c4b;

.pics2 {
  height: 70rem;
  max-width: 70rem;
  margin: 1rem;
}

.bigboi2 {
  display: flex;
  height: 70rem;
  width: auto;
}

.buttonboi {
  position: relative;
  left: 1rem;
}

.taskdeal2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  width: 43.5rem;
  height: 30rem;
  border: double 0.5rem $boi;
  position: relative;
}
.catT2 {
  height: auto;
  display: flex;
  margin: 4rem;
  flex-direction: column;
  align-items: flex-end;
}

.headi2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 80rem;
}
.lander2 {
  display: flex;
  max-width: 100rem;
  align-items: center;
  justify-content: space-evenly;
}
.description2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 30rem;
  max-width: 100rem;
  margin: 1rem 1rem 5rem 1rem;
}
.title2 {
  font-size: 5rem;
  position: relative;
  max-width: 50rem;
  max-height: 15rem;
}

.text2 {
  position: relative;
  top: 5rem;
  left: 6rem;
  font-size: 3rem;
  margin: 2rem;
}
