* {
  margin: 0;
}
$dreamC: #ade1b1;
$dreamB: #273043;

.header {
  background-image: url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  display: flex;
  width: auto;
  height: 13rem;
  justify-content: space-between;
  align-items: center;
}

.logoDiv {
  position: relative;
  display: flex;
  top: 4rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.logo {
  background-color: black;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.userInfo {
  width: 50rem;
  height: 5rem;
  font-size: 3rem;
  color: #fefffe;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 1rem;
}

.logoutBut {
  position: relative;
  cursor: pointer;
  left: 6rem;
  color: $dreamC;
  text-transform: uppercase;
  text-decoration: none;
  background: black;
  padding: 20px;
  border: 4px solid $dreamC;
  display: inline-block;
  transition: all 0.4s ease 0s;

  &:hover {
    color: black;
    background: $dreamC;
    border-color: black;
    transition: all 0.4s ease 0s;
  }
}

.nav {
  margin: 1rem;
  width: 50rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-size: 3rem;
  margin: 1rem;
}

.navi {
  color: #fefffe;
}
