* {
  margin: 0;
}
$dreamC: #ade1b1;
$dreamB: #273043;

.header {
  background-image: url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  display: flex;
  width: auto;
  height: 13rem;
  justify-content: space-between;
  align-items: center;
}

.logoDiv {
  position: relative;
  display: flex;
  top: 4rem;
  left: 9rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.logo {
  background-color: black;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.welcome {
  width: 15rem;
  font-size: 3.6rem;
}
.userInfo {
  width: 30rem;
  height: 5rem;
  font-size: 2rem;
  color: #fefffe;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 1rem;
}

.logoutBut {
  position: relative;
  cursor: pointer;
  left: 6rem;
  color: $dreamC;
  text-transform: uppercase;
  text-decoration: none;
  background: black;
  padding: 20px;
  border: 4px solid $dreamC;
  display: inline-block;
  transition: all 0.4s ease 0s;

  &:hover {
    color: black;
    background: $dreamC;
    border-color: black;
    transition: all 0.4s ease 0s;
  }
}

.nav {
  margin: 1rem;
  width: 50rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-size: 3rem;
  margin: 1rem;
}

.navi {
  color: #fefffe;
}

@media (max-width: 990px) {
  body {
    height: 300vh;
  }
  .nav {
    display: none;
  }
  .header {
    width: auto;
  }

  .dropbtn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #2980b9;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }
}
